@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee linear infinite;
}
